

/*Variables*/
$box-color: #D9D9D9;
$active-btn-color: #FFFF; //General farve, når knappen er aktiv
$inactive-btn-color: #575654; //General farve, når knappen er inaktiv
$accept-btn-color: #A3DC80; 
$decline-btn-color: #FF453A; 
$icon-color: #565656; //Farve på vektor ikoner på knapper
$bg-color: #32302D;
$font-family: 'Inter', sans-serif;
$border-radius: 50px;
$spacing: 20px; //General spacing

// Mixin til telefonknapper
@mixin phone-button($bg-color) {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: $spacing * 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .circle-bg {
    background-color: $bg-color;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;

    // Sørg for at ikoner kun bliver placeret, hvis de er til stede
    img {
      width: 50px;
      height: 50px;
      pointer-events: none;
    }
  }
}

// Mixin til button label
@mixin button-label-style {
  color: white;
  text-align: center;
  font-size: 1.5em;
  max-width: 8rem;
  line-height: 1.2;
  margin-top: 1em;
}










