@use 'buttons';

/* Variables */
$box-color: #D9D9D9;
$active-btn-color: #FFFF;
$inactive-btn-color: #575654;
$accept-btn-color: #A3DC80; 
$decline-btn-color: #FF453A; 
$bg-color: #32302D;
$font-family: 'Inter', sans-serif;
$border-radius: 50px;
$spacing: 20px;

/* General Styling */
/* Grundlæggende styling for hele dokumentet */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family; // Bruger en global font fra variablerne
}

/* Main layout for hele scenariet */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: $bg-color; // Baggrundsfarve for hele siden
  padding: $spacing; // Standard padding
}

/* --------------- Intro Page --------------- */
.intro-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $spacing*3;


  h1 {
      font-size: 2.6em; 
      font-weight: 500;
      color: white;
  }
  .intro-box {
      background-color: $box-color;
      color: black;
      border-radius: $border-radius;
      max-width: 900px;
      padding: $spacing * 2;
      font-size: 1.8em; 
  }

  /* Start knap-styling */
  .start-button {
      @include buttons.phone-button($accept-btn-color); // Genbruger mixin for telefonknappen
      position: absolute; // Bruges til at placere knapperne nederst på skærmen
      bottom: $spacing*5; // Juster afstanden fra bunden af skærmen
      img {
          transform: rotate(225deg); /* Roterer mobil-ikonet */
      }
  }

  /* Label-styling for knap */
  .button-label {
      @include buttons.button-label-style;
      font-size: 2em;
  }
}

/* --------------- Call Header --------------- */
.call-header {
  text-align: center;
  color: white;
  margin-top: $spacing*1.5;

  .call-title {
      font-size: 1.2em;
      margin-bottom: $spacing;
  }

  .phone-number {
      font-size: 2.8em;
      margin: $spacing;
  }

  .sender {
      font-size: 1.2em;
      margin-top: $spacing;
  }
}

/* --------------- Call Page --------------- */
/* Første opkaldsside (Telefonen ringer) */
.call-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .decline-message {
      background-color: $box-color;  
      color: black;
      border-radius: $border-radius;
      max-width: 850px;
      padding: $spacing * 2; // Tilføjer padding direkte på <p> og giver den $box-color
      margin-top: $spacing*6;
      font-size: 1.8em;
      text-align: center;  
  }

  .call-buttons {
      display: flex;
      gap: $spacing * 15;
      flex-wrap: wrap;
      justify-content: center;
      position: absolute;
      bottom: $spacing*5;
      left: 50%;  // Placerer venstre kant af knapperne i midten
      transform: translateX(-50%);  // Skubber knapperne tilbage med 50% af deres bredde for at centrere
      width: auto;  // Sørger for at knapperne ikke strækker sig over hele bredden

      /* Knap-styling - her genbruges mixins fra _buttons.scss */
      button {
          @include buttons.phone-button($inactive-btn-color);

          .button-label {
              @include buttons.button-label-style;
              font-size: 2em;
          }
      }

      /* Farver og ikoner for accept og decline knapper */
      .accept {
          .circle-bg {
              background-color: $accept-btn-color;
              img {
                  transform: rotate(225deg); //Roterer ikonet for accept 
              }
          }
      }

      .decline {
          .circle-bg {
              background-color: $decline-btn-color;
          }
      }
  }
}


/* --------------- Telefoninterface --------------- */
.phone {
  display: flex;
  flex-direction: column;
  height: 100vh; // Fuld højde for telefonlayoutet

  .btn-row {
      display: flex;
      justify-content: center;
      align-items: flex-start; // Justering af knapperne, så de starter samme sted
      width: 100%;
      gap: $spacing * 10; // Øger afstanden mellem knapperne for at give mere plads
      z-index: 1; // Sørger for at billeder kan vises over knapperne

      button {
          @include buttons.phone-button($inactive-btn-color); // Genbrug af mixin

          .button-label {
              @include buttons.button-label-style; // Genbrug af label-styling
          }

          /* Farver og tilstande for forskellige knapper */
          &.active .circle-bg {
              background-color: $active-btn-color;
          }

          &.decline .circle-bg {
              background-color: $decline-btn-color;
          }

          &.sometimes-active .circle-bg {
              background-color: $active-btn-color;
          }

          &.sometimes-active.inactive .circle-bg { 
              background-color: $inactive-btn-color; // Tilføj inactive class når knappen er inactive
          }

          &.inactive {
              pointer-events: none; // Deaktiverer klik på inaktive knapper
          }
      }
  }
}



/* Content */
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; // fylder al plads mellem header og knapper
  width: 100%;
  box-sizing: border-box;

  p {
    max-width: 100%;
    font-size: 1.2em;
    line-height: 1.5;
    color: white;
  }

  img {
  height: calc(100vh - 100px); // Fuld højde minus header og lidt margin // Fylder næsten hele skærmhøjden
  width: auto;
  object-fit: contain;
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-bottom: -3rem; // Dækker knapperne lidt
  }

  video {
    max-width: 40%;
    height: auto;
  }
}


/* Ending Styling */
.ending {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 1.3em;
    color: white;
  
    .overfold {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding: 2rem;
    }
  
    .main-box {
      background-color: $box-color;
      color: black;
      border-radius: $border-radius;
      padding: $spacing * 2;
      max-width: 850px;
      width: 100%;
      position: relative; // gør den til positioneringsparent
  
      .main-text {
        font-size: 1.8em;
        font-weight: 600;
        max-width: 80%;
      }
  
      .icon-box {
        position: absolute;
        top: -40px;
        right: -40px;
        img {
          width: 200px; // Tilføjet størrelsen på ikonet her
        }
      }
  
      .tips-box {
        position: absolute;
        bottom: -150px;
        right: -150px;
        background-color: white;
        color: black;
        border-radius: $border-radius;
        max-width: 350px;
        padding: $spacing * 1.5;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      }
    }

    .small-heading {
        max-width: 60%;
    }
  
    .underfold {
      margin-top: 120px; // plads til tips-box der overlapper
      text-align: center;
  
      h2 {
        font-size: 1.5em;
      }
    }
  }

/*-----Info Page Styling-----*/
.info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $spacing;
  

  h1, h2, h3 {
    font-weight: 700;
    width: 100%; // så overskrifterne stadig tager fuld bredde
    text-align: left;
  }

  .card {
      background-color: $box-color;
      color: black;
      border-radius: $border-radius;
      width: 100svw; /* 100% indtil max-width nås */
      max-width: 850px;
      padding: $spacing*2;
      margin-top: $spacing;
    }
    
}
  